/*Utilizamos un ejemplo de css modules.*/
/*Las tres formas de importar estilos son: global, tailwind y cssmodules.*/

.shape{
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
}